<div class="min-h-screen bg-gray-950">
  <!-- Navbar -->
  <nav class="bg-black shadow-xl border-b border-gray-600">
    <div class="max-w-screen-2xl mx-auto px-4 py-4 flex justify-between items-center">
      <h1 class="text-2xl font-bold text-white cursor-pointer">Editar Usuário</h1>
      <button (click)="goToDashboard()" class="px-4 py-2 bg-gray-600 text-white rounded-lg hover:bg-gray-700 transition">
        Voltar
      </button>
    </div>
  </nav>

  <!-- Excessões -->
  <div class="max-w-2xl mx-auto px-4 py-12">
    <!-- Loading -->
    @if(isLoading()){
      <div class="text-center text-gray-300">
        Carregando usuário...
      </div>
    }

    <!-- Erro -->
    @if(errorMessage()){
      <div class="bg-red-950/50 border border-red-800 text-red-300 px-4 py-3 rounded-lg text-sm mb-4">
        {{ errorMessage() }}
      </div>
    }

    <!-- Formulário -->
    @if(!isLoading() && user()){
      <div class="bg-gray-900 rounded-lg shadow-lg p-8">
        <form (ngSubmit)="updateUser()" class="space-y-6">
          <!-- Campo Nome -->
            <div>
                <label class="block text-sm font-medium text-gray-200 mb-2">
                    Nome
                </label>
                <input
                    type="text"
                    [value]="userName()"
                    (input)="userName.set($event.target.value)"
                    name="name"
                    class="w-full px-4 py-2 bg-gray-800 border border-gray-600 text-white placeholder-gray-400 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
                    placeholder="Digite o nome"
                    required
                />
            </div>

            <!-- Campo Idade -->
            <div>
                <label class="block text-sm font-medium text-gray-200 mb-2">
                    Idade
                </label>
                <input
                    type="number"
                    [value]="userAge()"
                    (input)="userAge.set($event.target.value)"
                    name="age"
                    class="w-full px-4 py-2 bg-gray-800 border border-gray-600 text-white placeholder-gray-400 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
                    placeholder="Digite a idade"
                    required
                />
            </div>


          <!-- Botões -->
          <div class="flex gap-4">
            <button
              type="submit"
              class="flex-1 px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition cursor-pointer"
            >
              Salvar
            </button>
            <button
              type="button"
              (click)="goToDashboard()"
              class="flex-1 px-4 py-2 bg-gray-700 text-gray-200 rounded-lg hover:bg-gray-600 transition cursor-pointer"
            >
              Cancelar
            </button>
          </div>
        </form>
      </div>
    }
  </div>
</div>
